<div class="container col-xs-6 col-10 p-2">
  <div class="row text-center mt-3" style="color:#FFFFEA;">
    <h3>
      <% if Time.now >= Time.parse("0:01") && Time.now <= Time.parse("12:00") %>
        Good Morning, <%= current_user.first_name %>
      <% elsif Time.now >= Time.parse("12:01") && Time.now <= Time.parse("17:00") %>
        Good Afternoon, <%= current_user.first_name %>
      <% else %>
        Good Evening, <%= current_user.first_name %>
      <% end %>
    </h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="whiteboard-card">
        <div class="card-header">
          <h4>Whiteboard</h4>
        </div>
        <div class="card-body">
          <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card wide-container">
      <div class="card-header text-center">
        <h4>Your Chores</h4>
        <a href="chores" class="stretched-link"></a>
      </div>
      <div class="card-body" id="chores">
        <% @room_chores.each do |room_chore| %>
            <% if room_chore.status == true %>
            <br>
              <i class="fas fa-check" style="color:#1EDD88;"></i>
            <% else %>
            <br>
              <i class="fas fa-times" style="color:#FD1015;"></i>
            <% end %>
            <strong><%= room_chore.chore.name %></strong> : <%= room_chore.start_date.strftime("%b %d") %> - <%= room_chore.end_date.strftime("%b %d") %>
        <% end %>
        <a href="chores" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card wide-container">
      <div class="card-header text-center">
        <h4>Amenities Booked</h4>
        <a href="amenities" class="stretched-link"></a>
      </div>
      <div class="card-body">
        <% @amenities.each do |amenity| %>
        <br>
          <i class="<%= amenity.fa_class %>"></i> <%= amenity.name %>
          <% if amenity.availability == true %>
            <%= "available" %>
          <% else %>
            <%= "unavailable" %>
          <% end %>
        <% end %>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
  </div>

</div>
