<div class="container col-xs-6 col-10 p-2" >

  <div class="row text-center">
    <h1>Welcome <%= current_user.first_name %>! <i class="fas fa-cloud-sun"></i></h1>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card" id="amenities">
      <div class="card-header text-center">
        <h4>Amenities</h4>
      </div>
      <div class="card-body">
        <% @amenities.each do |amenity| %>
          <li><i class="<%= amenity.fa_class %>"></i> <%= amenity.name %>
          <% if amenity.availability == true %>
            <%= "available" %>
          <% else %>
            <%= "unavailable" %>
          <% end %>
          </li>
        <% end %>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card">
      <div class="card-header text-center">
        <h4>Chores</h4>
      </div>
      <div class="card-body" id="chores">
        <% @room_chores.each do |room_chore| %>
          <li><%= room_chore.chore.name %> : <%= room_chore.start_date %> - <%= room_chore.end_date %> |
            <% if room_chore.status == true %>
              <i class="fas fa-check"></i>
            <% else %>
              <i class="fas fa-times"></i>
            <% end %>
          </li>
        <% end %>
        <a href="chores" class="stretched-link"></a>

    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          <h4>Chores</h4>
        </div>
        <div class="card-body">
          <% @room_chores.each do |room_chore| %>
            <li><%= room_chore.chore.name %> : <%= room_chore.start_date %> - <%= room_chore.end_date %> |
              <% if room_chore.status %>
                <i class="fas fa-check"></i>
              <% else %>
                <i class="fas fa-times"></i>
              <% end %>
            </li>
          <% end %>
          <a href="chores" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="card row">
    <div class="card-header">
      <div class="text-left m-3 p-2">
        <strong>Whiteboard</strong>
      </div>
    </div>
    <div class="card-body my-3">
      <div class="text-left m-3 p-2">
        <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
      </div>
    </div>
  </div>
</div>
