<div class="container col-xs-6 col-10 p-2">
  <div class="row text-center mt-3" style="color:#FFFFEA;">
    <h3>
      <% if Time.now >= Time.parse("0:01") && Time.now <= Time.parse("12:00") %>
        Good Morning, <%= current_user.first_name %>
      <% elsif Time.now >= Time.parse("12:01") && Time.now <= Time.parse("17:00") %>
        Good Afternoon, <%= current_user.first_name %>
      <% else %>
        Good Evening, <%= current_user.first_name %>
      <% end %>
    </h3>
  </div>


  <div class="row justify-content-center my-3">
    <div class="card wide-container">
      <div class="card-header text-center">
          <h4>Whiteboard</h4>
      </div>
      <div class="card-body">
        <div class="text-left m-3 p-2">
          <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card wide-container">
      <div class="card-header text-center">
        <h4>Your Chores</h4>
        <a href="chores" class="stretched-link"></a>
      </div>
      <div class="card-body" id="chores" style="background-color: white">
        <div class="other-week">
          <p class="mr-3"><strong>Last Week:</strong></p>
          <p class="mr-3"><%= @previous_room_chore.chore.name %></p>
          <% if @previous_room_chore.status %>
            <small class="mr-3">+10 pts</small>
          <% else %>
            <small class="mr-3">0 pts</small>
          <% end %>
        </div>

        <div class="this-week">
          <h4><%= @current_room_chore.formatted_start_date %> - <%= @current_room_chore.formatted_end_date %></h4>
          <div class="this-week-info">
            <% if @current_room_chore.status %>
              <i class="fas fa-check mr-2" style="color:#1EDD88;"></i>
            <% else %>
              <i class="far fa-square mr-2" style="color:#FD1015;"></i>
            <% end %>
            <%= @current_room_chore.chore.name %>
          </div>
        </div>

        <div class="other-week">
          <p class="mr-3"><strong>Next Week:</strong></p>
          <%= @next_room_chore.chore.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card wide-container">
      <div class="card-header text-center">
        <h4>Amenities Booked</h4>
      </div>
      <div class="card-body">
        <% @amenities.each do |amenity| %>
        <br>
          <i class="<%= amenity.fa_class %>"></i> <%= amenity.name %>
          <% if amenity.availability == true %>
            <%= "available" %>
          <% else %>
            <%= "unavailable" %>
          <% end %>
        <% end %>
        <a href="amenities" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
