<div class="container col-xs-6 col-10">

  <div class="row text-center mt-3">
    <h2><%=  %><%= current_user.first_name %>!</h2>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card">
      <div class="card-header text-center">
        <h4>Amenities</h4>
      </div>
      <div class="card-body">
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card">
      <div class="card-header text-center">
        <h4>Chores</h4>
      </div>
      <div class="card-body">
        <% @room_chores.each do |room_chore| %>
          <li><%= room_chore.chore.name %> : <%= room_chore.start_date %> - <%= room_chore.end_date %></li>
        <% end %>
        <a href="chores" class="stretched-link"></a>
      </div>
    </div>
  </div>

</div>

<div class="container col-6">
  <div class="card">
    <div class="card-header">
      <div class="text-left m-3 p-2">
        <strong>Whiteboard</strong>
      </div>
    </div>
    <div class="card-body my-3">
      <div class="text-left m-3 p-2">
        <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
      </div>
    </div>
  </div>
</div>
