<div class="container-fluid" style="padding: 0 0;">
  <div class="meguro-div">
    <div class="meguro-container d-flex justify-content-end pr-2"><i class="fas fa-igloo mr-2"></i><p>Meguro Mansion</p></div>
    <div class="show-banner">
      <div class="col-12 text-center">
        <h2>
          <% if Time.now >= Time.parse("0:01") && Time.now <= Time.parse("12:00") %>
            <i class="fas fa-coffee mr-2"></i>Good Morning, <%= current_user.first_name %>
          <% elsif Time.now >= Time.parse("12:01") && Time.now <= Time.parse("17:00") %>
            <i class="fas fa-sun mr-2"></i>Good Afternoon, <%= current_user.first_name %>
          <% else %>
            <i class="fas fa-cloud-moon mr-2"></i>Good Evening, <%= current_user.first_name %>
          <% end %>
        </h2>
      </div>
    </div>
  </div>

<div class="members-header text-center mt-4">
  <h2>Mansioners</h2>
</div>

<div class="house-members-container container">
  <% @users.each do |user| %>
    <div class="d-flex flex-column text-center mt-5">
      <%= link_to user_path(user) do  %>
        <i><%= cl_image_tag user.image.key, class: :avatarlg %></i>
      <% end %>
      <div class="member-name my-2">
        <%= user.first_name %>
      </div>
    </div>
  <% end %>
</div>

<div class="container mt-5">

  <div class="row justify-content-center my-3">
    <div class="col-12">
      <div class="whiteboard-card">
        <div class="card-header text-center">
          <h3>Whiteboard</h3>
        </div>
        <div class="card-body">
          <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center my-3">
    <div class="col-12">
      <div class="card wide-container">
        <div class="card-header text-center">
          <h3>Your Chores</h3>
        </div>
        <div class="card-body" id="chores">

          <div class="d-flex justify-content-around">
            <div>
              <a href="chores" class="card-link">
                <div class="other-week border p-3 d-flex flex-column">
                  <p class="mr-3"><strong>Last Week:</strong></p>
                   <% if @previous_room_chore.status %>
                    <p class="mr-3"><%= @previous_room_chore.chore.name %>
                      <i class="fas fa-check mr-2" style="color:#1EDD88;"></i>
                    </p>
                   <p><small class="mr-3">10 pts earned</small></p>
                   <% else %>
                   <p class="mr-3"><%= @previous_room_chore.chore.name %>
                    <i class="far fa-square mr-2" style="color:#FD1015;"></i>
                  </p>
                   <p><small class="mr-3">0 pts earned</small></p>
                   <% end %>
                </div>
              </a>
            </div>

            <div>
              <a href="chores" class="card-link">
                <div class="this-week border p-3 d-flex flex-column justify-content-around" style='height: 100%;'>
                  <h4><%= @current_room_chore.formatted_start_date %> - <%= @current_room_chore.formatted_end_date %></h4>
                  <div class="this-week-info">
                    <%= @current_room_chore.chore.name %>
                    <% if @current_room_chore.status %>
                      <i class="fas fa-check mr-2" style="color:#1EDD88;"></i>
                      <p><small class="mr-3">10 pts earned</small></p>
                    <% else %>
                      <i class="far fa-square mr-2" style="color:#FD1015;"></i>
                      <p><small class="mr-3">0 pts earned</small></p>
                    <% end %>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="chores" class="card-link">
                <div class="other-week border p-3 d-flex flex-column">
                  <p class="mr-3"><strong>Next Week:</strong></p>
                  <% if @next_room_chore.status %>
                    <p class='mr-3'><%= @next_room_chore.chore.name %>
                      <i class="fas fa-check mr-2" style="color:#1EDD88;"></i>
                    </p>
                    <p><small class="mr-3">10 pts earned</small></p>
                  <% else %>
                  <p class="mr-3"><%= @next_room_chore.chore.name %>
                    <i class="far fa-square mr-2" style="color:#FD1015;"></i>
                  </p>
                    <p><small class="mr-3">0 pts earned</small></p>
                  <% end %>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="row justify-content-center my-3">
    <div class="col-12">
      <div class="card wide-container">
        <div class="card-header text-center">
          <h3>Amenities</h3>
        </div>
        <div class="card-body">
          <%= render "amenities/summary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="col-12">
      <div class="card wide-container">
        <div class="card-header text-center">
          <h3>Map</h3>
        </div>
        <div class="card-body">
          <iframe src="https://www.google.com/maps/d/embed?mid=1XqreEWk5L-esoXyiEMNx8ZUfJYBUsZOO" width="100%" height="480"></iframe></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
