<div class="container col-xs-6 col-10 p-2">

  <div class="row text-center mt-3">
    <h3>
      <% if Time.now >= Time.parse("0:01") && Time.now <= Time.parse("12:00") %>
        Good Morning, <%= current_user.first_name %>
      <% elsif Time.now >= Time.parse("12:01") && Time.now <= Time.parse("5:00") %>
        Good Afternoon, <%= current_user.first_name %>
      <% else %>
        Good Evening, <%= current_user.first_name %>
      <% end %>
    </h3>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card" id="amenities">
      <div class="card-header text-center">
        <h4>Amenities Booked</h4>
        <a href="amenities" class="stretched-link"></a>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="card" id="chores">
      <div class="card-header text-center">
        <h4>Your Chores</h4>
        <a href="chores" class="stretched-link"></a>
      </div>
      <div class="card-body" id="chores">
        <% @room_chores.each do |room_chore| %>
          <li>
            <% if room_chore.status == true %>
              <i class="fas fa-check"></i>
            <% else %>
              <i class="fas fa-times"></i>
            <% end %>
            <strong><%= room_chore.chore.name %></strong> : <%= room_chore.start_date.strftime("%b %d") %> - <%= room_chore.end_date.strftime("%b %d") %>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card row mt-5">
    <div class="card-header">
      <div class="text-left m-3 p-2">
        <strong>Whiteboard</strong>
      </div>
    </div>
    <div class="card-body my-3">
      <div class="text-left m-3 p-2">
        <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
      </div>
    </div>
  </div>

</div>
