<div class="row justify-content-center my-3">
  <div class="card" >
    <div class="card-header text-center">
      <div class="tab d-flex justify-content-center">
        <button class="tablinks" onclick="openWeek(event, 'last')">Last week</button>
        <button class="tablinks" onclick="openWeek(event, 'this')"id="defaultOpen">This week</button>
        <button class="tablinks" onclick="openWeek(event, 'next')">Next week</button>
      </div>
    </div>
    <div class="card-body">

      <div id="last" class="tabcontent">
        <div class="d-flex justify-content-center">
          <div class="container-chore">
            <div class="row">
              <div class="col-xs-6">
                <table class="card-chore-table">
                  <thead>
                    <th></th>
                      <% @users.each do |user| %>
                        <%= cl_image_tag user.image.key, class: :avatar %>
                      <% end %>
                    <% @room_chores.sort_by { |room_chore| room_chore.room.number }.each do |room_chore| %>
                    <th><p class="d-flex justify-content-center" style="font-size: 16px;"><%= room_chore.room.number %></p></th>
                    <% end %>
                  </thead>
                  <tbody>
                    <% @room_chores.each do |room_chore| %>
                    <%= render "room_chores/table_row", room_chore: room_chore %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="this" class="tabcontent">
        <div class="d-flex justify-content-center">
          <div class="container-chore">
            <div class="row">
              <div class="col-xs-6">
                <table class="card-chore-table">
                  <thead>
                    <th></th>
                      <% @users.each do |user| %>
                        <%= cl_image_tag user.image.key, class: :avatar %>
                      <% end %>
                    <% @room_chores.sort_by { |room_chore| room_chore.room.number }.each do |room_chore| %>
                    <th><p class="d-flex justify-content-center" style="font-size: 16px;"><%= room_chore.room.number %></p></th>
                    <% end %>
                  </thead>
                  <tbody>
                    <% @room_chores.each do |room_chore| %>
                    <%= render "room_chores/table_row", room_chore: room_chore %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="tabcontent">
        <div class="d-flex justify-content-center">
          <div class="container-chore">
            <div class="row">
              <div class="col-xs-6">
                <table class="card-chore-table">
                  <thead>
                    <th></th>
                      <% @users.each do |user| %>
                        <%= cl_image_tag user.image.key, class: :avatar %>
                      <% end %>
                    <% @room_chores.sort_by { |room_chore| room_chore.room.number }.each do |room_chore| %>
                    <th><p class="d-flex justify-content-center" style="font-size: 16px;"><%= room_chore.room.number %></p></th>
                    <% end %>
                  </thead>
                  <tbody>
                    <% @room_chores.each do |room_chore| %>
                    <%= render "room_chores/table_row", room_chore: room_chore %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <script>
        function openWeek(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
      </script>
    </div>
  </div>
</div>




