<div class="whiteboard-message" id="message-<%= raw message.id %>">
  <% if message && message.user %>
    <%= cl_image_tag message.user.image.key, alt: "alttext", class: "avatarlg" %>
  <% end %>
  <div class="whiteboard-message-content">
      <p><small><%= message.created_at.strftime("%b %d, %I:%M %p") %></small></p>
      <p><%= message.message %></p>
      <% if message.image.attached? %>
        <%= cl_image_tag(message.image.key, crop: :fill) %>
      <% end %>
  </div>
  <div class="whiteboard-message-actions">
    <% if message.user == current_user %>
      <%= link_to whiteboard_message_path(message), method: :delete, remote: true do %>
        <i class="far fa-trash-alt"></i>
      <% end %>

    <% end %>
  </div>

</div>
